.paragraph {
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 1.3;
  justify-content: center;

  font-size: 44px;
  font-weight: bolder;
  text-transform: uppercase;
}

.word {
  margin-right: 12px;
  margin-top: 12px;
  position: relative;

  color: red;
}

.word .shadow {
  position: absolute;
  opacity: 0.1;

  color: grey;
}
